aniso8601==3.0.2
MarkupSafe==1.1.1
click==6.7
Flask==1.1.2
Flask-Cors==3.0.6
flask-restplus==0.13.0
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10.1
jsonschema==3.2.0
pytz==2018.5
six==1.11.0
Werkzeug==0.15.3
